/.metadata/
/UART_drv/Debug/
/UART_drv/.settings/
/UART3_drv/Debug/
/UART3_drv/.settings/
/UART_drv_irq/Debug/
/UART_drv_irq/.settings/
/SPI_drv/Debug/
/SPI_drv/.settings/
i2c2/.project
i2c2/i2c+main/projects/Blink/Debug/Blink.axf
i2c2/i2c+main/projects/Blink/Debug/Blink_Debug.ld
i2c2/i2c+main/projects/Blink/Debug/Blink_Debug_library.ld
i2c2/i2c+main/projects/Blink/Debug/Blink_Debug_memory.ld
i2c2/i2c+main/projects/Blink/Debug/SDK/CMSIS/subdir.mk
i2c2/i2c+main/projects/Blink/Debug/SDK/CMSIS/system_MK64F12.d
i2c2/i2c+main/projects/Blink/Debug/SDK/CMSIS/system_MK64F12.o
i2c2/i2c+main/projects/Blink/Debug/SDK/startup/hardware.d
i2c2/i2c+main/projects/Blink/Debug/SDK/startup/hardware.o
i2c2/i2c+main/projects/Blink/Debug/SDK/startup/main.d
i2c2/i2c+main/projects/Blink/Debug/SDK/startup/main.o
i2c2/i2c+main/projects/Blink/Debug/SDK/startup/semihost_hardfault.d
i2c2/i2c+main/projects/Blink/Debug/SDK/startup/semihost_hardfault.o
i2c2/i2c+main/projects/Blink/Debug/SDK/startup/startup_mk64f12.d
i2c2/i2c+main/projects/Blink/Debug/SDK/startup/startup_mk64f12.o
i2c2/i2c+main/projects/Blink/Debug/SDK/startup/subdir.mk
i2c2/i2c+main/projects/Blink/Debug/source/AccelMagn_drv.o
i2c2/i2c+main/projects/Blink/Debug/source/App.d
i2c2/i2c+main/projects/Blink/Debug/source/App.o
i2c2/i2c+main/projects/Blink/Debug/source/gpio.d
i2c2/i2c+main/projects/Blink/Debug/source/gpio.o
i2c2/i2c+main/projects/Blink/Debug/source/i2c.d
i2c2/i2c+main/projects/Blink/Debug/source/i2c.o
i2c2/i2c+main/projects/Blink/Debug/source/Posicionamiento.d
i2c2/i2c+main/projects/Blink/Debug/source/Posicionamiento.o
i2c2/i2c+main/projects/Blink/Debug/source/subdir.mk
i2c2/i2c+main/projects/Blink/Debug/source/SysTick.o
i2c2/i2c+main/projects/Blink/Debug/source/Timer.d
i2c2/i2c+main/projects/Blink/Debug/source/Timer.o
i2c2/i2c+main/projects/Blink/Debug/sources.mk
i2c2/i2c+main/projects/Blink/source/App.c
i2c2/i2c+main/projects/Blink/Debug/source/SensorsPosition.o
i2c2/i2c+main/projects/Blink/Debug/source/SensorsPosition.d
i2c2/i2c+main/projects/Blink/Debug/Blink_Debug_memory.ld
i2c2/i2c+main/projects/Blink/Debug/Blink_Debug_library.ld
i2c2/i2c+main/projects/Blink/Debug/Blink_Debug.ld
